{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as util %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
{% endblock %}

{% block title %}Canvas Course Modules Menu Generator</title>{% endblock %}

{% block content %}

{{util.flashed_messages()}}

<div class="container">

  <h3>Generate Modules Menu HTML</h3>
  {{ wtf.quick_form(form,
                      form_type='horizontal',
                      horizontal_columns=('sm', 2, 6),
                      button_map={'submit': 'primary'})
  }}

    {% if html %}
    <div class="row col-sm-12">
        <pre>
            <code class="html">{{ html | trim }}</code>
        </pre>
    </div>
    {% endif %}
</div>


{% endblock %}

