{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as util %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        var client = new ZeroClipboard( document.getElementById('copy_button') );
    </script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
{% endblock %}

{% block title %}Canvas Course Modules Menu Generator</title>{% endblock %}

{% block content %}

{{util.flashed_messages()}}

<div class="container-fluid">

    <h3>Generate Modules Menu HTML</h3>
    <div class="col-lg-6">

  {{ wtf.quick_form(form,
                      form_type='horizontal',
                      horizontal_columns=('lg', 2, 10),
                      button_map={'submit': 'primary'})
  }}

    </div>

    <div class="col-lg-6">
        {% if html %}
        <button id="copy_button" class="btn btn-info clip_button" title="Click to copy" data-clipboard-target="generated_html">Copy to Clipboard</button>
        <pre>
            <code id="generated_html" class="html">{{ html | trim }}</code>
        </pre>
        {% endif %}
    </div>

</div>


{% endblock %}

